html,
body,
.App {
	height: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fafffb;
}

.App > div {
	position: relative;
	width: 40%;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
}

@media screen and (orientation: portrait) {
	.App {
		font-size: 0.8em;
	}

	.App > div {
		width: 90%;
	}
}
